@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  color: inherit;
}

.extra {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: 900;
  font-size: 5rem;
}
